<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--若要擴展至行動裝置再啟用此行>
        <meta name="viewport" content="width=device-width, initial-scale=1"-->
        <title>Home</title>
        <link rel="icon" href="http://127.0.0.1:3000/img/icon.png" type="image/x-icon" />
        <link rel="stylesheet" href="css/bootstrap.min.css"><br/>
        <link rel="stylesheet" href="css/menu_style.css"><br/>
        <link rel="stylesheet" href="css/mytheme.css"><br/>
        <script src="./js/jquery-3.4.0.js"></script> 
    </head>
<body>
    <!--nav class="navbar navbar-default navbar-fixed-top"-->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://127.0.0.1:3000/menu">Demo</a>
                <button type="button" class="navbar-toggle collapsed" 
                        data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>

    <section id="intro-header">
        <div class="container">
            <div class="row">
                <div class="wrap-headline">
                        <h1 class="text-center"><b>計畫場域測試</b></h1>
                        <hr>
                        <ul class="list-inline list-unstyled text-center">
                            <li><a class="btn btn-default2 btn-lg" href="http://127.0.0.1:3000/dashboard" role="button">Enter</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </section>

    <script src="./js/bootstrap.min.js"></script>
</body>
</html>