<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="css/bootstrap.min.css"><br/>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="jumbotron">
            <h1>-Line Chart Test-</h1>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div id="main" style="height:400px"></div>
          <!-- ECharts單文件引入-->
          <script src="./js/echarts.js"></script>
          <script src="./js/jquery-3.4.0.js"></script>
          <script type="text/javascript">
            // 路徑配置
            require.config({
              paths: {
                echarts: "./js"
              }
            });

            var a2,a7;
            $.ajax({
              url: "../static/data.json",
              type: 'GET',
              dataType: 'json',
              success: (data)=>{
                console.log('ajax success!',data);
                a2 = data.cell[0].rate;
                a7 = data.cell[1].rate;
                console.log(a2,a7);
              }
            });

            


            var option = {
              tooltip: {
                show: true
              },
              legend: {
                data: ['port2','port7']
              },
              xAxis: [
                {
                  type: 'category',
                  data: [1,2,3,4,5,6,7,8,9,10]
                }
              ],
              yAxis: [
                {
                  type: 'value'
                }
              ],
              series: [
                {
                  name: "port2",
                  type: "line",
                  data: [1,1,1,1,1,1,1,1,1,1]
                },
                {
                  name: "port7",
                  type: "line",
                  data: [2,2,2,2,2,2,2,2,2,2]
                }
              ]
            };
            // 使用          
            require(
                    [
                      'echarts',
                      'echarts/chart/line' // 使用柱狀圖就加載bar模組
                    ],
                    
                    function (ec) {
                      var myChart = ec.init(document.getElementById('main'));
                      setInterval(function(){

                        $.ajax({
                          url: "../static/data.json",
                          type: 'GET',
                          dataType: 'json',
                          success: (data)=>{
                            console.log('ajax success!',data);
                            port2_rate = data.cell[0].rate;
                            port7_rate = data.cell[1].rate;
                            console.log(port2_rate,port7_rate);
                            option.xAxis[0].data.push(option.xAxis[0].data[0]+10);
                            option.xAxis[0].data.shift();
                            option.series[0].data.push(port2_rate[port2_rate.length-1]);
                            option.series[0].data.shift();
                            option.series[1].data.push(port7_rate[port7_rate.length-1]);
                            option.series[1].data.shift();
                          }
                        });
                        myChart.setOption(option);
                      },2000);
                    }
            );
          </script>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div><br/>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>